@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada");

html {
  overflow-y: scroll;
}

body {
  background-image: url("../imgs/misc/handmadepaper.png");
  padding-top: 50px;
}

.navbar-brand,
h3,
h4 {
  font-family: 'Montserrat Subrayada', sans-serif;
}

h3 {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.exp-header {
  margin: 0 auto;
  display: table;
}

.caption a {
  font-size: 0.85714em;
}

.technologies {
  margin: 10px 0;
}

.technologies img {
  margin-right: 10px;
}

.fa {
  margin-right: 5px;
}

/* Bar Graph */
.graph {
  max-width: 768px;
}

.bar {
  padding: 5px;
}

.bar img {
  padding: 2px;
  background-color: white;
  border: 1px solid black;
}

.graph .bar:nth-child(odd) {
  background-color: lightskyblue;
}

.graph .bar:nth-child(even) {
  background-color: saddlebrown;
}

.html {
  width: 90%;
}

.css {
  width: 100%;
}

.js {
  width: 80%;
}

.python {
  width: 40%;
}

.elm {
  width: 50%;
}

/* Bootstrap Overrides */
.navbar-default {
  background-image: url("../imgs/misc/handmadepaper.png");
  border-color: saddlebrown;
  max-width: 1024px;
  margin: 0 auto;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-collapse {
  border-color: saddlebrown;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.btn-group > .btn.active {
  background-color: lightskyblue;
  color: #000;
}

.navbar-toggle {
  border: none;
  border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: 0;
  border-color: #000;
  outline: none;
}

hr {
  border-color: saddlebrown;
}

@media (min-width: 768px) {
  /* Experience */
  .flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .exp-cmg-text {
    height: 250px;
  }

  .exp-caktus-text {
    height: 370px;
  }

  .exp-acpg-text {
    height: 300px;
  }
}
